{% extends "@TritoqTpanel/layout.html.twig" %}

{% block body %}
    <h1>Editar Templates</h1> <br/>
    <div class="panel panel-info">
        <div class="panel-heading">Vhost Atual</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><pre>{{ vhost }}</pre></div>
                <div class="col-md-6">
                    <form action="{{ path('template.save') }}" method="post">
                        <div class="form-group">
                            <label for="vhost">Editar Template Vhost</label>
                            <textarea id="vhost" name="vhost" class="form-control" rows="35">{{ vhost }}</textarea>
                        </div>
                        <div class="form-group"><button type="submit" class="btn btn-success">Salvar</button></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}