{% extends '@TritoqTpanel/layout.html.twig' %}

{% block body %}
    <h1>Usu치rios</h1> <br/>
    <div class="panel panel-info">
        <div class="panel-heading">Gerenciamento de Usu치rios</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Adicionar um usu치rio</label>
                        <pre>app/console tpanel:user:add</pre>
                    </div>
                    <div class="form-group">
                        <label>Remover um usu치rio</label>
                        <pre>app/console tpanel:user:del</pre>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock %}