{% extends 'TritoqTpanelBundle::layout.html.twig' %}

{% block body -%}
    <h1>Editar</h1>

    {{ include('TritoqTpanelBundle:Default:record-actions.html.twig', {'entity': entity, 'route': 'vhost', 'delete_form': delete_form, 'hideEdit': true}) }}

    {{ form_start(edit_form, {'attr': {'class': 'form'}}) }}
        {{ include('TritoqTpanelBundle:Vhost:form.html.twig', {'form': edit_form, 'label': 'Atualizar'}) }}
    {{ form_end(edit_form) }}


{% endblock %}